* {
  margin: 0;
  padding: 0;
}

.container {
  width: 390px;
  height: 750px;
  margin: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 390px;
  height: 750px;
  border: 1px solid lightgray;
  background-color: #dcd8f2;
  /* overflow: scroll; */
}

.slide {
  position: absolute;
  bottom: -750px;
  width: 390px;
  height: 550px;
  background: white;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes slide {
  100% {
    bottom: 0;
  }
}

@keyframes slide {
  100% {
    bottom: 0;
  }
}

.chat_btn {
  background: none;
  border: none;
  color: white;
  font-size: 17px;
  margin: 5% 0% 0% 70%;
}

.name_box {
  display: flex;
  /* transform: translate(-30px,20px); */
}

.next_btn {
  border: 1px solid red;
  width: 20px;
  height: 30px;
  font-size: 30px;
  transform: translate(-80px, 25px);
}

.title {
  font-family: "Caveat Brush", cursive;
  font-weight: 200;
  width: 300px;
  font-size: 45px;
  text-align: left;
  transform: translate(20px, 20px);
  line-height: 1.1;
}

.name {
  color: #7259f5;
}

.subTitle {
  transform: translate(30px, 25px);
  font-weight: 400;
  width: 200px;
  color: rgb(85, 85, 85);
}

.postYourToday {
  transform: translate(210px, 40px);
  font-weight: 400;
  font-size: 15px;
}

.post_btn {
  transform: translate(325px, 12px);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: x-large;
  color: #7b64fd;
  border: none;
  -webkit-box-shadow: 1px 1px 5px 1px #adadad;
  box-shadow: 1px 1px 5px 1px #adadad;
}

.mainBoard_option {
  position: relative;
  padding-top: 7%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 700;
}

.option_all {
  margin-right: 10%;
  border-bottom: 3px solid #a493ff;
}

.article {
  padding: 5%;
}

.article_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.article_content {
  padding: 0% 7%;
}

.article_profile_img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
  background-image: url("./img/aboutme-pic.jpg");
  background-size: cover;
}

.article_profile_name {
  padding-left: 2%;
  font-weight: 700;
  font-size: 15px;
}

.article_content > h6 {
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 14px;
  font-weight: 400;
}

.article_content > div {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-image: url("./img/jk-2.PNG");
  background-size: cover;
}

.article_footer {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
}

.article_footer > div {
  padding-left: 7%;
}

.post_time {
  color: rgb(174, 172, 172);
}

.like_heart {
  color: #A493FF;

}