* {
  margin: 0;
  padding: 0;
}

.container {
  width: 390px;
  height: 750px;
  margin: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 390px;
  height: 750px;
  border: 1px solid lightgray;
  background-color: #dcd8f2;
  /* overflow: scroll; */
}

.slide {
  position: absolute;
  bottom: -750px;
  width: 390px;
  height: 550px;
  background: white;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes slide {
  100% {
    bottom: 0;
  }
}

@keyframes slide {
  100% {
    bottom: 0;
  }
}

.back_btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10% 0% 1% 5%;
}

.title {
  font-family: "Caveat Brush", cursive;
  font-weight: 200;
  width: 300px;
  font-size: 45px;
  text-align: left;
  transform: translate(20px, 20px);
  line-height: 1.1;
}

.name {
  color: #7259f5;
}

.submit_btn {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: #a493ff;
  border: none;
  color: white;
}

.post_section > h4 {
  padding: 5%;
  font-size: 30px;
  font-family: "Caveat Brush", cursive;
  font-weight: 300;
}

.post_section > input {
  margin: 0% 5%;
  padding: 3%;
  width: 325px;
  height: 180px;
  border: 1px solid #c4c3c3;
}

.picture > button {
  margin: 5% 2% 5% 5%;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: none;
  background-color: white;
  color: rgba(164, 147, 255, 1);
  font-size: 20px;
  -webkit-box-shadow: 1px 1px 5px 1px #adadad;
  box-shadow: 1px 1px 5px 1px #adadad;
}

.btn_section {
  display: flex;
  justify-content: center;
}
