* {
  margin: 0;
  padding: 0;
}

.container {
  width: 390px;
  height: 750px;
  margin: auto;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 390px;
  height: 750px;
  border: 1px solid lightgray;
  background-color: #a493ff;
}

.slide {
  position: absolute;
  bottom: -750px;
  width: 390px;
  height: 650px;
  background: white;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 9px 0px rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
}

.slide::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes slide {
  100% {
    bottom: 0;
  }
}

@keyframes slide {
  100% {
    bottom: 0;
  }
}

.back_btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 17% 0% 1% 5%;
}

.title {
  font-family: "Caveat Brush", cursive;
  font-weight: 200;
  width: 300px;
  height: 95px;
  font-size: 45px;
  text-align: left;
  transform: translate(30px, 30px);
  line-height: 1.1;
}

.heart_icon {
  font-size: 30px;
  color: rgba(167, 152, 247, 1);
}

.input_box {
  transform: translate(0px, 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input_Q {
  width: 319px;
  height: 45px;
  color: rgba(136, 136, 136, 1);
  font-size: 14px;
  border: 1px solid rgba(187, 187, 187, 1);
  padding: 1%;
  margin-top: 3%;
}

input::placeholder,
::placeholder {
  font-family:Arial, Helvetica, sans-serif;
}

.confirm_btn {
  position: absolute;
  transform: translate(150px, 100px);
  width: 70px;
  height: 70px;
  line-height: 20px;
  background-color: rgba(164, 147, 255, 0.25);
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 2.2;
  border-radius: 50%;
}

.btn_container {
  display: flex;
  transform: translateX(28px);
  width: 100%;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  font-size: 17px;
  color: #b8b8b8;
  display: none;
}

.file_name {
  color: gray;
  font-size: 13px;
}

.button_wrap {
  position: relative;
}
.button {
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #7259f5;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 130px;
  height: 15px;
  transition: all 0.5s;
  line-height: 1;
  margin-bottom: 8px;
}
